*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.about-img {
    width: auto;
    max-width: 6%;
}

.about-co {
    height: 800px;
    position: relative;
}

.american-beach {
    width: inherit;
    overflow: hidden;
    margin-top: 10px;
    background-image: url('../assets/images/overlayfire.png');
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-origin: padding-box;
    background-position: top;
}

.bbq-img{
    width: 30%;
}

.Brownsville {
    object-position: center;
    display: block;
    margin: 10px;
    max-height: 200px;
    max-width: 60%;
    width: auto;
    left: 20%;
    position: relative;
    align-self: ;
    ;
}

.btn-custom {
    background-color: hsl(360, 100%, 100%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff));
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(#ffffff, #ffffff);
    border-color: #ffffff #ffffff hsl(360, 100%, 100%);
    color: #BF0A30 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
    width: auto;
    min-width: 100px;
    -webkit-font-smoothing: antialiased;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */

.carousel {
    height: 600px;
    margin-bottom: 0px;
    background-color: transparent;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 2;
    color: black;
}


/* Declare heights because of positioning of img element */

.carousel .item {
    height: 600px;
    background-color: transparent;
}

.carousel-inner>.item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 600px;
    background-color: transparent;
}


/* Bump up size of carousel content */

.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}

.carousel-indicators.li {
    color: #bf0a30;
    background-color: #bf0a30;
}

.carousel-li{
    background-color: #bf0a30;
}

.COBNavLogo {
    width: 125px;
    height: 125px;
}

.c-american {
    margin: inherit;
    overflow: hidden;
    background-image: url('../assets/images/Layer 0.png');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.c-american-text {
    width: inherit;
    overflow: auto;
    padding: 20px;
    text-align: center;
    color: #002868;
    word-spacing: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.donation-text {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    padding: inherit;
    text-align: center;
    text-overflow: inherit;
    color: #FFFFFF;
    font-weight: bolder;
    font-stretch: expanded;
}

.donate-h3 {
    color: #BF0A30;
}

.donate-button {
    width: auto;
    min-width: 100px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: #BF0A30;
}

.donation-image {
    margin: 1px;
    padding: inherit;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

.donation-img-size {
    width: 15%;
}

.donation-location {
    margin-left: 15%;
}

.donation-table {
    margin: 5px;
    padding: 5px;
    margin-top: 5%;
}

.event-map {
    width: 450px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    padding: inherit;
    margin-left: 20%;
}

.flagImage {
    display: inherit;
    overflow-y: hidden;
    width: inherit;
    object-position: left;
    object-fit: cover;
    overflow-x: hidden;
}

.footer-section {
    height: 200px;
    background-color: #002868;
    width: auto;
    margin: 0px;
    border-color: gray;
    border-width: thin;
}

.info-section {
    background-color: #FFFFFF;
    background-image: url(../assets/images/COBHall.png);
    background-position: center;
    background-size: cover;
    display: block;
    background-repeat: no-repeat;
    width: inherit;
    margin: 5, 10, 5, 10;
    opacity: 1.0;
}

.jumbotron {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #BF0A30;
    height: 900px;
}

.left {
    background-color: transparent;
}

.location-inline {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.location-co {
    background-color: #3c3e42;
    color: #002868;
    height: 700px;
    width: auto;
    overflow: hidden;
    position: relative;
}

.location-img {
    width: 5%;
    height: inherit;
    position: relative;
    overflow: hidden;
}

.location-info {
    color: #FFFFFF;
}

.location-table {
    margin: 10px;
    padding: 5px;
}

.location-h1 {
    color: #FFFFFF;
}

.location-space {
    margin: 5px;
    padding: 5px;
    margin-left: 15%;
}

.right {
    background-color: transparent;
}

.map-space {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    max-width: 100%;
    position: inherit;
    text-align: center;
}

.nav {
    color: white;
}

.navbar {
    height: 150px;
    align-items: baseline;
    border: 0;
    padding: auto;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 0;
    margin-bottom: 0;
    font-family: "aller", sans-serif;
    font-size: 12px;
    word-spacing: normal;
    letter-spacing: 8px;
    background-color: #BF0A30;
    color: #FFFFFF;
}

.navbar-header {
    background-color: transparent;
}

.navbar-load {}

.navbar-default .navbar-nav>li>a {
    font-family: "aller", sans-serif;
    font-weight: 50;
    word-spacing: 50px;
    line-height: 100px;
    color: white;
}

.navbar-brand {
    background-color: transparent;
}

.navbar .navbar-nav {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 5%;
    padding-left: 70%;
    color: white;
    float: none;
    vertical-align: middle;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-nav li a:hover {
    color: #4286f4 !important;
    background-color: transparent;
    border: 1px;
    border-bottom-width: thin;
    border-color: #FFFFFF;
}

.nav.navbar-nav.navbar-nav li a {
    color: white;
}



/*-- End Nav --*/

.tree-section {
    background-color: #002868;
    height: 650px;
    width: inherit;
    padding: 15px;
}

.target-location{
    width: 4%;
}

.tugwarimg{
    width: 50%;
}

.stay-informed-btn{
    margin: 20px;
    padding: 5px;
}


/*--- Footer ----*/
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: white;
    font-size: 20px;
    margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: white;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

.footer-left {
    display: block;
    position: relative;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.footer-right {
    display: block;
    position: relative;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.media-table {
    align-items: center;
}

.media-table td {
    text-align: center;
    padding-left: 15px;
}

.media-table a {
    color: white;
}

.media-table a:hover {
    color: #BF0A30;
    transition: 1s;
}

.contact-table {
    align-items: center;
}

.contact-table td {
    text-align: center;
    padding-left: 3px;
}
